In [10]:
import pandas as pd
import numpy as np

In [2]:
loy = pd.read_csv('../RawData/historical_transactions.csv')

In [3]:
loy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103617 entries, 0 to 103616
Data columns (total 14 columns):
authorized_flag         103617 non-null object
card_id                 103617 non-null object
city_id                 103617 non-null int64
category_1              103617 non-null object
installments            103617 non-null int64
category_3              102970 non-null object
merchant_category_id    103617 non-null int64
merchant_id             103159 non-null object
month_lag               103617 non-null int64
purchase_amount         103617 non-null float64
purchase_date           103617 non-null object
category_2              94284 non-null float64
state_id                103617 non-null int64
subsector_id            103617 non-null int64
dtypes: float64(2), int64(6), object(6)
memory usage: 11.1+ MB

In [5]:
loy.get_dtype_counts()

float64    2
int64      6
object     6
dtype: int64

In [6]:
loy.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_ea299331ff,200,N,0,A,690,M_ID_7ecb602096,-5,-0.351846,2017-09-15 21:15:41,2.0,18,1
1,Y,C_ID_ea299331ff,200,N,0,A,705,M_ID_e95b1970c2,-10,-0.603029,2017-04-29 09:46:35,2.0,18,33
2,Y,C_ID_ea299331ff,200,N,0,A,307,M_ID_77d5389a7e,-3,-0.656749,2017-11-29 00:00:00,2.0,18,19
3,Y,C_ID_ea299331ff,200,N,0,A,705,M_ID_e95b1970c2,-4,-0.557754,2017-10-04 13:45:29,2.0,18,33
4,Y,C_ID_ea299331ff,200,N,0,A,705,M_ID_9a24c5f117,0,-0.603375,2018-02-28 11:38:42,2.0,18,33

In [12]:
loy['card_id'].unique()

array(['C_ID_ea299331ff', 'C_ID_16e1a96d67', 'C_ID_f376c2cdd0', ...,
       'C_ID_f0975077c6', 'C_ID_8080d9dd06', 'C_ID_37e23fe25f'],
      dtype=object)

In [14]:
loy['city_id'].value_counts()

 69     17086
-1       8657
 17      4929
 158     4532
 19      3047
 331     2756
 333     2303
 87      1917
 137     1812
 57      1670
 25      1631
 161     1615
 53      1517
 88      1514
 143     1436
 160     1256
 322     1199
 76      1096
 233     1034
 286      967
 4        950
 212      853
 149      804
 277      774
 20       750
 274      737
 117      726
 344      710
 291      710
 140      691
        ...
 123        6
 186        6
 91         6
 139        6
 220        5
 130        5
 28         5
 338        4
 182        4
 44         3
 345        3
 312        3
 142        3
 226        2
 77         2
 263        2
 71         2
 206        2
 208        2
 309        2
 197        1
 178        1
 273        1
 129        1
 254        1
 32         1
 47         1
 222        1
 183        1
 83         1
Name: city_id, Length: 296, dtype: int64

In [15]:
loy['authorized_flag'].value_counts()

Y    94755
N     8862
Name: authorized_flag, dtype: int64